#job-info {
  
  }
  
  
  #job-info .content {
    margin: 0px 50px;
    
  }
  
  #job-info .inner-page h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  #job-info .inner-page .info {
    font-size: 18px;
    margin-bottom: 20px;}